/* Create Post Styles */
.user-img{
  width: 50px;
}
img {
  width: 90px;
  height: 50px;
  /* height: 100%; */
  /* margin-bottom: px; */
}
.post{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin: 20px;
  
}
.post-content{
  margin: 30px;
  padding: 10px;
  border-radius: 15px;
  background-color: #efefef;
}
.post-container{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color:#ffffff;
  margin: 15px;
  /* padding: 20px; */
  padding-top: 1px;
  /* height: 300px; */
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.post-like{
  display: flex;
  align-items: center;
}
#post-btn{
  width: 47px;
  height: 47px;
}
.like-count{
  margin-left: 10px;
}
.post-head{
  margin-right: 10%;
}
.post-img{
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.foot {
  width: 30px;
  height: 30px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 90%;
  right: 0;
  /* border-radius: 30px; */
  background-color: whitesmoke;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* background-color: lightsteelblue; */
  color: white;
  /* background-color: ; */

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-radius: 10px; */
  margin-bottom: 7px;
  border-radius: 30px;
  margin-left: 5%;
  margin-right: 5%;
  /* margin-top: 20px; */
}
.createPost{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-color:#efefef;
  animation: move-up 1s ease-in-out;
  border-radius: 30px 30px 0px 0px;

}
@keyframes move-up {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 0px;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 90%;
  right: 0;
  /* border-radius: 30px; */
  background-color: whitesmoke;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* background-color: lightsteelblue; */
  color: white;
  /* background-color: ; */

  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-radius: 10px; */
  margin-bottom: 7px;
  border-radius: 30px;
  margin-left: 5%;
  margin-right: 5%;
  /* margin-top: 20px; */
}
/* Post Styling */
.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.forms {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.group {
  position: relative;
}

.forms .group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease;
}

.forms .group input,
.forms .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.forms .group input:placeholder-shown+ label, .forms .group textarea:placeholder-shown +label {
  top: 10px;
  background-color: transparent;
}

.forms .group input:focus,
.forms .group textarea:focus {
  border-color: #3366cc;
}

.forms .group input:focus+ label, .forms .group textarea:focus +label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.forms .group textarea {
  resize: none;
  height: 100px;
}

.forms button {
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width:270px;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.forms button:hover {
  background-color: #27408b;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Profile Styling */
.profile-img{
  width: 80px;
  height: 80px;
  margin-top: 40px;
}
.profile-name{
  font-size: 30px;
  font-weight: 600;
  margin-right: 7px;
}
.profile-username{
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
}
.followers{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
  text-align: center;
  background-color: aliceblue;
  background-color: #efefef;
  padding: 20px;
}
.post-text{
  font-weight: 500;
  opacity: 0.5;
  font-size: 20px;
}
.post-count{
  font-weight: bold;
  font-size: 22px;
}
.my-posts{
  font-size: 25px;
  font-weight: 600;
  margin-left: 7%;
}
.profile-data{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: center;
}
.tick{
  width: 35px;
  height: 35px;
  margin-top: 7px;
}


/* Header styling */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 20px;
  margin-right: 20px; */
  /* margin-top: 10px; */
  margin-bottom: 20px;
  background-color: #efefef;
  padding: 15px;
}
.message{
  width: 30px;
  height: 30px;
}
.header-text{
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: bolder;

}

