.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.user-img{
  width: 50px;
}
img {
  width: 90px;
  height: 50px;
  /* height: 100%; */
  /* margin-bottom: px; */
}
.post-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  
}
.foot {
  width: 30px;
  height: 30px;
}
.post-head{
  margin-right: 30%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 90%;
  right: 0;
  /* border-radius: 30px; */
  background-color: whitesmoke;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* background-color: lightsteelblue; */
  color: white;
  /* background-color: ; */

  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-radius: 10px; */
  margin-bottom: 7px;
  border-radius: 30px;
  margin-left: 5%;
  margin-right: 5%;
  /* margin-top: 20px; */
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 90%;
  right: 0;
  /* border-radius: 30px; */
  background-color: whitesmoke;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* background-color: lightsteelblue; */
  color: white;
  /* background-color: ; */

  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-radius: 10px; */
  margin-bottom: 7px;
  border-radius: 30px;
  margin-left: 5%;
  margin-right: 5%;
  /* margin-top: 20px; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
